{% extends "base.html" %}
{% block main %}

<section class="jumbotron text-center">
<h1 class="jumbotron-heading">Enter your answer and "Enter" or click the button</h1>
<div class="col-md-8 order-md-1">
    <h4 class="mb-3" id="instructions"></h4>
        <form class="question">
            <div class="row">
                <div class="col-md-5 mb-3">
                    <label>Question : </label>
                    <label id="question">{{question}}</label>
                </div>
                <div class="col-md-2 mb-3">
                    <input type="number" class="form-control" id="answer" placeholder="" value="" required>
                </div>
                <div class="col-md-2 mb-3">
                    <button class="btn btn-primary btn-sm" id="answered" type="submit">Submit answer</button>
                </div>
                <div class="col-md-2 mb-2">
                    <button class="btn btn-secondary btn-sm" id="stop_game" type="button">Stop the game</button>
                </div>
            </div>
         </form>
        <div class="row align-items-center">
            <div class="col-md-6 mb-4">
                <label id="game_stat"></label>
            </div>
            <div class="col-md-2 mb-2">
                <label id="feedback"></label>
            </div>

            <div class="col-md-2 mb-2 hidden" id="return_main">
                <a  href="{{url_for('homepage')}}">Return to Main </a>
             </div>
        </div>
</div>
</section>
{% endblock %}
