{% extends "base.html" %}
{% block main %}
            <section class="jumbotron text-center">
                    <div class="container">
                      <h1 class="jumbotron-heading">Multiplication Ninja</h1>
                        <p class="lead text-muted">Use this game to improve your skills with times tables </br>The faster and more accurate you get the better.</br></br>
                        You can play this game as a set number of questions (20) </br>or play for 1 minute and see how many you can complete!</p>
                      <p>
                        <a href="{{url_for('start_game',game_mode='Set Q')}}" class="btn btn-primary my-2">Start 20 question game</a>
                        <a href="{{url_for('start_game',game_mode='Set time')}}" class="btn btn-primary my-2">Start 1 minute game</a>

                      </p>
                    </div>
            </section>

{% endblock %}

