{% extends "base.html" %}
{% block main %}
    <section class="jumbotron text-center">
        <h1 class="jumbotron-heading">{{board}}</h1>
        <h2> Most correctly answered questions per minute </h2>
        </p>
        <h6 class="leaderboard">
            {% for lead in leaders %}
               <tr><td>
                    {{ lead.name }} - {{ lead.CPM }}</br>
               </td></tr>
            {% endfor %}
        </h6>
        <div class="container-fluid">
            <div class="col-md-12" id="return_main" >
                <a  href="{{url_for('homepage')}}">Return to Game Menu </a>
            </div>
        </div>
        <p></p>
    </section>
{% endblock %}
{% block scripts %}
        <script src="/static/js/leader.js"></script>
{% endblock %}
